<ul class="m-2 mt-5 nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Pick a Template</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Previous Resumes</a>
    </li>
</ul>